<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulir</title>
</head>
<body>
    <form action='http://localhost:5000/graphs', method="POST">
    <p>Nilai X: <input type="text" name="nilai_x" placeholder="Masukkan nilai x ..."/></p>
    <p>Nilai Y: <input type="text" name="nilai_y" placeholder="Masukkan nilai y ..."/></p>
    <p><input type="submit" value='Buat Grafik'/></p>
    </form>
</body>
</html>